__pycache__

# ignore everything in the logs directory
src/logs/*

# do not ignore the directories, as git will completely ignore directories it thinks are empty.
!src/logs/*/

# now we need to ignore everything in the directories again
src/logs/*/*

# except the hparams.json file 
!src/logs/*/hparams.json

# since we are making nested folders now, we also need to do the magic trick here
!src/logs/*/*/
src/logs/*/*/*
!src/logs/*/*/hparams.json

